{% extends 'mydj/templates/mydj/layout.html' %}
{% block title %} About {% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-4">Welcome to ITStep Services</h1>
        <a href="/student" class="btn btn-primary btn-lg m-2">
            <i class="fa-brands fa-readme me-2"></i> Enter as Student
        </a>
        <a href="/teacher" class="btn btn-secondary btn-lg m-2">
            <i class="fa-solid fa-briefcase me-2"></i> Enter as Teacher
        </a>
    </div>
{% endblock %}
